/* Buttons */

.btn {
	width: 18.4rem;
	height: 4.5rem;
	box-sizing: border-box;
	border-radius: 4px;
}

/* Orange Button */

.btn.btn-orange {
	background: #f2994a;
	border: 0.1rem solid #e0812c;
	margin-top: 8rem;
	transition: 0.2s;
}

.btn.btn-orange a {
	color: #fff;
}

.btn.btn-orange:hover {
	background: #d87723;
}

/* Blue border and white backgounrd button */

.btn.btn-blueWhite {
	background: #ffffff;
	border: 1px solid #2f80ed;
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;
	color: #2f80ed;
}

.btn.btn-blueWhite.slim {
	height: 3.6rem !important;
	width: 18rem !important;
}
