.form-field {
	background: #ffffff;
	border: 0.1rem solid #d8d8d8;
	box-sizing: border-box;
	border-radius: 0.5rem;
}

legend {
	padding: 0.8rem 1rem;
	color: #333333;
}

.fieldset {
	display: grid;
	grid-template-rows: 14vh 22vh 30vh;
	grid-row-gap: 3rem;
}

/* Sotial midia and time */

.row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3rem;
}

hr {
	border: 0.1rem solid #e0e0e0;
}

.sotial-midia-logo {
	display: flex;
	justify-content: space-around;
	height: calc(100% - 3.6rem);
	align-content: center;
}

.date-time {
	display: flex;
	justify-content: space-around;
	height: calc(100% - 3.6rem);
}

#date,
#time {
	border: 0.1rem solid #d8d8d8;
	color: #828282;
	padding: 0.5rem;
	margin: 5%;
}

/* Text area */

.textarea {
	display: flex;
	justify-content: center;
	height: calc(100% - 3.6rem);
	align-items: center;
}

textarea {
	height: calc(100% - 2.6rem);
	width: calc(100% - 2.6rem);

	resize: none;
	border: 0.1rem solid #949494;

	padding: 1rem;
	border-radius: 0.4rem;
}

.img-upload {
	display: flex;
	justify-content: center;
}

.img-upload p {
	color: #828282;
}

/* Img upload */

.border-box {
	height: calc(100% - 3.6rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-upload {
	height: calc(100% - 2.6rem);
	width: calc(100% - 2.6rem);
	border: 0.1rem dashed #bdbdbd;
	border-radius: 0.5rem;
}

.image-upload {
	display: flex;
	flex-direction: column;
	padding: 1.6rem 0;
}
.image-upload img,
.image-upload p {
	flex: 1;
}

.image-upload img {
	width: 4.5rem;
	height: auto;
	align-self: center;
}
.image-upload label {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 3.6rem;
	align-self: center;
}

.image-upload input {
	display: none;
}

/* Preview section */

.post-view,
.preview-box {
	height: 100%;
}

.post-view p {
	color: #828282;
	margin-bottom: 1rem;
}

.preview-box {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.post-preview,
.post-preview-in {
	display: flex;
	justify-content: center;
	align-items: center;
}

.insta-preview,
.in-preview {
	width: 36.8rem;
	min-height: 53.5rem;
	border: 1px solid #bdbdbd;

	border-radius: 4px;
}

.in-preview .preview-header {
	display: flex;

	justify-content: left;
	height: 6.2rem;
	padding: 1rem;
}

.insta-preview .preview-header {
	display: flex;

	justify-content: left;
	height: 8.2rem;
	padding: 1rem;
}

.in-preview .preview-header img {
	margin-left: 1rem;
}

.insta-preview .preview-header img {
	margin-top: -2rem;
}

.in-preview .preview-header span {
	margin-left: 2rem;
	margin-top: 0.5rem;
}

.insta-preview .preview-header span {
	margin-left: 2rem;
	margin-top: 1.5rem;
}

.insta-preview .preview-main {
	height: 36.8rem;
}

.insta-preview .preview-footer {
	height: 8.5rem;
}

.in-preview .preview-footer {
	height: 5.5rem;
}

.in-preview .preview-footer p {
	font-weight: 400;
	font-size: 1.2rem;
	align-self: center;
	margin: 0;
	padding: 0.5rem;
}

.in-preview .preview-footer p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	text-align: initial;
}

.in-preview .preview-footer > div {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
	padding: 0 1rem;
	height: 4rem;
}

.insta-preview .preview-footer > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.in-preview .preview-footer img {
	padding: 0 1.5rem 0 0;
}

.insta-preview .preview-footer img {
	padding: 0 1rem;
}

#txt-desc-insta {
	color: #4f4f4f;
}

form .btn.btn-orange {
	display: none;
}

.post-preview {
	display: none;
}

.post-preview-in {
	display: none;
}
