header {
	height: 8rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 4rem;
	background: #fff;
}

header span {
	padding-left: 0.8rem;
}

.user {
	display: flex;
	align-items: center;
}
