header {
	height: 8rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 4rem;
	background: #fff;
}

header span {
	padding-left: 0.8rem;
}

.user {
	display: flex;
	align-items: center;
}

main {
	height: calc(100vh - 8rem);

	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container img {
	height: 50vh;
	margin-right: 3rem;
}
