main {
	height: calc(100vh - 8rem);

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color: #4f4f4f;
}

.title {
	justify-self: left;
	width: 89%;
	margin-bottom: 1.6rem;
}

.scrollBox {
	width: 90%;
}

table {
	width: 100%;
	height: auto;
	border-collapse: collapse;
}

table,
tr,
td,
th {
	border: 0.3rem solid #bdbdbd;
	text-align: center;
}

table th {
	background: #fff;
	height: 6.5rem;
}

table tr {
	background-color: #f2f2f2;
}

table td {
	height: 7rem;
	text-align: center;
}

table img.post {
	height: 71.3%;
}

table td a {
	color: #1661f3;
	text-decoration: underline;
}

#textTable {
	overflow-wrap: break-word;
	max-width: 50rem;
	margin: auto;
}

/* PopUps  */

.popup {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	background: rgba(0, 0, 0, 0.089);
}
